*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button{
    transition: all 0.5s;
    
    &:hover{
        background: #FFFFFF;
        color:  rgb(32, 32, 39);
    }
}

a{
    text-decoration: none;
}


.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    background-color: #E1FF8F;
    background-image: url(img/bigstar.png);
    background-repeat: no-repeat;
    background-position: top -333px right -488px;

    
    &__star-smol-right{
        position: absolute;
        top: 538px;
        right: 344px;
    }
    &__star-smol-left{
        position: absolute;
        top: 69px;
        left: 63px;
    }

    &__star-smol-left-mobile{
        display: none;
    }
    &__star-smol-right-mobile{
        display: none;
    }
}
.welcome{
    padding-top: 196px;
    padding-bottom: 156px;
    position: relative;
    z-index: 2;

    &__title{
        width: 768px;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;

        &-mobile{
            display: none;
        }
    }
    
    &__text{
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        padding-top: 24px;

        &-mobile{
            display: none;
        }
    }
    
    &__button{
        margin-top: 48px;
        font: inherit;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background:  rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

.about{
    background: rgb(32, 32, 39);
}

.about-info{

    &__title{
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 24px;
        padding-top: 94px;
    }

    &__text{
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 72px;
    }
}

.about-game{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    position: relative;

    &__star-big{
        position: absolute;
        top: -252px;
        right: -229px;
        z-index: 1;
    }

    &__star-smol{
        position: absolute;
        top: 407px;
        left: -100px;
       
    }
}

.card-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: flex-end;
}

.card{
    max-width: 378px;
    transition: 0.5s;
    position: relative;
    z-index: 2;
  
    &:hover{
        transform: scale(1.10);
        transition: 0.5s;
    }

    &__link{
        background-color: #FFFFFF;
    }

    &__img{
        background-color: #FFFFFF;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 378px;
    }

    &__info{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #FFFFFF;
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__number{
        width: 108px;
        height: 28px;
        border-radius: 52.58px;
        background: #F7F7F7;
        color: rgb(32, 32, 39);
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding-top: 8px;
    }

    &__name{
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px; 
    } 
}

.mini-game{
    background: rgb(32, 32, 39);
    padding-top: 96px;
    padding-bottom: 144px;    

    &__title{
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 72px;
    }
}

.content-game{
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;

    &__star-top{
        position: absolute;
        top: -100px;
        right: -70px;
    }
    &__star-bottom{
        position: absolute;
        bottom: -100px;   
        right: -70px;
    }
}


.game-card{
    width: 1200px;
    display: flex;

    &__info-left{
        width: 600px;
        height: 500px;  
        background-color: rgb(255, 255, 255);
        padding-inline: 48px;
        padding-block: 48px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    &__info-right{
        width: 600px;
        height: 500px;  
        background-color: rgb(255, 255, 255);
        padding-inline: 48px;
        padding-block: 48px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__name{
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 24px;
    }

    &__text{
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 36px;
    }

    &__button{
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        width: 247px;
        height: 66px;
    }

    &__img-right{
        background-color: #FFFFFF;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    &__img-left{
        background-color: #FFFFFF;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    &__img-mobile{
        display: none;
    }
}

.footer{
    background: rgb(189, 237, 53);
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;

    &__text{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        justify-content: center;
    }
}

@media (min-width: 1021px) and (max-width: 1440px){

    .top{
   
        &__star-big{
            display: none;
        }
    }
    .about-game{
        row-gap: 32px;

        &__star-big{
            display: none;
        }
    }
    .content-game{

        &__star-top{
            display: none;
        }
        &__star-bottom{
            display: none;
        }
    }

    .game-card{
        
        width: auto;
        max-width: 1200px;

        &__info-left{
            width: auto;
            max-width: 600px;
            height: 500px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 48px;
            padding-block: 48px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        &__info-right{
            width: auto;
            max-width: 600px;
            height: 500px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 48px;
            padding-block: 48px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        &__img-right{
            max-width: 600px;
            max-height: 500px;
        }
    }
}
@media (min-width: 768px) and (max-width: 1021px){

    .top{
   
        &__star-big{
            display: none;
        }
    }
    .about-game{
        row-gap: 32px;

        &__star-big{
            display: none;
        }
    }
    .content-game{

        &__star-top{
            display: none;
        }
        &__star-bottom{
            display: none;
        }
    }

    .game-card{
        
        width: auto;
        max-width: 1200px;

        &__info-left{
            
            width: 600px;
            height: 300px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 48px;
            padding-block: 48px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        &__info-right{
            
            width: 600px;
            height: 300px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 48px;
            padding-block: 48px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }

        &__img-right{
            max-width: 400px;
            max-height: 300px;
        }

        &__img-left{
            max-width: 400px;
            max-height: 300px;
        }

        &__name{
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 16px;
        }

        &__text{
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 32px;
        }

        &__button{
            font-size: 16px;
            width: 285px;
            height: 55px;
            padding: 16px 28px 16px 28px;
        }
    }
}
@media (min-width: 375px) and (max-width: 767px){

    .center{
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
    }

    .top{
        height: 650px;
        background-image: url(img/bigstartmob.png);
        background-repeat: no-repeat;
        background-position: top -81px right -86px;

        &__star-big{
            display: none;
        }

        &__star-smol-right{
            display: none;
        }

        &__star-smol-left{
            display: none;
        }

        &__star-big-mobile{
            display: block;
            position: absolute;
            top: -81px;
            right: -86px;
        }

        &__star-smol-left-mobile{
            display: block;
            position: absolute;
            top: 64px;
            left: 37px;
        }

        &__star-smol-right-mobile{
            display: block;
            position: absolute;
            top: 557px;
            right: 34px;
        }
    }

    .welcome{
        padding-top: 146px;
        padding-bottom: 132px;
        width: 343px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__title{
            display: none;

            &-mobile{
                display: block;
                color: rgb(32, 32, 39);
                font-family: Montserrat;
                font-size: 40px;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0px;
                text-align: center;
            }
        }

        &__text{
            display: none;
        
            &-mobile{
                display: block;
                color: rgb(32, 32, 39);
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
                padding-top: 24px;
            }
        }

        &__button{
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            width: 285px;
            height: 55px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            margin-top: 36px;
        }
    }

    .about{
        display: none;
    }

    .mini-game{
        padding-top: 48px;
        padding-bottom: 10px;

        &__title{
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 48px;
        }
    }

    .content-game{
        gap: 24px;

        &__star-top{
            display: none;
        }

        &__star-bottom{
            display: none;
        }
    }

    .game-card{
        flex-direction: column;
        width: 343px;

        &__img-mobile{
            display: block;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: #FFFFFF;
        }
        &__img-right{
            display: none;
        }

        &__img-left{
            display: none;
        }

        &__info-left{
            width: 343px;
            height: auto;
            max-height: 343px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 33px;
            padding-block: 29px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 30px;
        }

        &__info-right{
            width: 343px;
            height: auto;
            max-height: 343px;  
            background-color: rgb(255, 255, 255);
            padding-inline: 33px;
            padding-block: 29px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 30px;
        }

        &__name{
            color: rgb(32, 32, 39);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 16px;
        }

        &__text{
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
            padding-bottom: 32px;
        }

        &__button{
            font-size: 16px;
            width: 285px;
            height: 55px;
            padding: 16px 28px 16px 28px;
        }
    }
    
    .footer{
        height: 100px;

        &__text{
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
        }
    }

}
